<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper-pro">
        <div class="content-inner-all">
            <div class="basic-form-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sparkline12-list shadow-reset mg-t-30">
                                <div class="sparkline12-hd">
                                    <div class="main-sparkline12-hd">
                                        <h1>Thêm Tỉnh/TP</h1>
                                        <div class="sparkline12-outline-icon">
                                            <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline12-graph">
                                    <div class="basic-login-form-ad">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="all-form-element-inner">
                                                    <form class="needs-validation" th:action="@{sua-quan-huyen}" method="POST" th:object="${addressDistrict}">
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('id')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">ID Tỉnh/TP</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('id')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('id')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập ID Tỉnh/TP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="hidden" class="form-control" th:field="*{id}" placeholder="Nhập Tên Tỉnh/TP " />
                                                                    <span th:if="${#fields.hasErrors('id')}" class="help-block" th:errors="*{id}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('name')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Tên Tỉnh/TP</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('name')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('name')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập tên Tỉnh/TP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{name}" placeholder="Nhập Tên Tỉnh/TP " />
                                                                    <span th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('type')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Tên Tỉnh/TP</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('type')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('type')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập kiểu Tỉnh/TP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{type}" placeholder="Nhập Kiểu Tỉnh/TP " />
                                                                    <span th:if="${#fields.hasErrors('type')}" class="help-block" th:errors="*{type}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('citiesId')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Chọn Tỉnh/TP</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('citiesId')} ? 'input-icon right' : ''">
                                                                    <div class="form-select-list"><i th:if="${#fields.hasErrors('citiesId')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập kiểu Tỉnh/TP" data-container="body" style="padding-right: 22px"></i>

                                                                        <select class="form-control custom-select-value" th:field="*{citiesId}">
                                                                            <option value="">--Chọn Tỉnh/TP--</option>
                                                                            <option th:each="city : ${listCities}" th:value="${city.id}" th:text="${city.name}"/>
                                                                        </select>
                                                                        <span th:if="${#fields.hasErrors('citiesId')}" class="help-block" th:errors="*{citiesId}"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="login-btn-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3"></div>
                                                                    <div class="col-lg-9">
                                                                        <div class="login-horizental cancel-wp pull-left">
                                                                            <a class="btn btn-white" type="submit" th:href="@{danh-sach-quan-huyen}">Cancel</a>
                                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>