<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Newsletter Popup ---------------------------------------------------->
    <section id="nlpopup" data-expires="30" data-delay="10">
        <!--Close Button-->
        <a href="javascript:void(0)" class="nlpopup_close nlpopup_close_icon">
            <img th:src="@{client/img/close-icon-white.png}" alt="Newsletter Close" /></a>
        <!--End Close Button-->

        <h3 class="mb-40">Tham Gia Làm Thành Viên </h3>
        <p class="black mb-20">
            Để nhận ưu đãi của chúng tôi<br />
        </p>
        <form>
            <input class="input-md" name="footeremail" title="Enter Email Address.." placeholder="example@domain.com" type="email">
            <button class="btn btn-md btn-color">Subscribe</button>
        </form>
        <label class="mt-20">
           Đăng Ký Tài Khoản và cập nhật tin tức thường xuyên hơn<br />
           </label>
        <a class="nlpopup_close nlpopup_close_link mt-40">&#10006; Close</a>
    </section>
    <!-- Overlay -->
    <div id="nlpopup_overlay"></div>
    <!-- End Newsletter Popup ------------------------------------------------>
    <!-- Sidebar Menu (Cart Menu) ------------------------------------------------>
    <section id="sidebar-right" class="sidebar-menu sidebar-right">
        <div class="cart-sidebar-wrap">

            <!-- Cart Headiing -->
            <div class="cart-widget-heading">
                <h4>Giỏ Hàng</h4>
                <!-- Close Icon -->
                <a href="javascript:void(0)" id="sidebar_close_icon" class="close-icon-white"></a>
                <!-- End Close Icon -->
            </div>
            <!-- End Cart Headiing -->

            <!-- Cart Product Content -->
            <div class="cart-widget-content">
                <div class="cart-widget-product ">

                    <!-- Empty Cart -->
                    <div class="cart-empty" th:if="${session.myCart == null}">
                        <p>Giỏ Hàng Của Bạn Trống</p>
                    </div>
                    <!-- EndEmpty Cart -->

                    <!-- Cart Products -->
                    <ul class="cart-product-item" id="listItemCart" >

                        <!-- Item -->
                        <li th:each="cart : ${session.myCart}" class="checkRemove" th:attr="id=${cart.key}">
                            <!--Item Image-->
                            <a th:href="'/san-pham/'+${cart.value.products.slug}" class="product-image">
                                <img th:src="${cart.value.products.imageLink}" th:alt="${cart.value.products.productName}" /></a>

                            <!--Item Content-->
                            <div class="product-content">
                                <!-- Item Linkcollateral -->
                                <a class="product-link" th:href="'/san-pham/'+${cart.value.products.slug}" th:text="${cart.value.products.productName}">Alpha Block Black Polo T-Shirt</a>

                                <!-- Item Cart Totle -->
                                <div class="cart-collateral">
                                    <span class="qty-cart" th:text="${cart.value.quantity}">1</span>&nbsp;<span>&#215;</span>&nbsp;<span class="product-price-amount" th:text="${#numbers.formatDecimal(cart.value.products.priceSale, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span>
                                </div>

                                <!-- Item Remove Icon -->
                                <a class="product-remove" href="javascript:void(0)" th:attr="data-key=${cart.key}" id="remove-cart"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                            </div>
                        </li>

                    </ul>
                    <!-- End Cart Products -->

                </div>
            </div>
            <!-- End Cart Product Content -->

            <!-- Cart Footer -->
            <div class="cart-widget-footer">
                <div class="cart-footer-inner">

                    <!-- Cart Total -->

                    <div id="totalCheck" th:each="cart : ${session.myCart}" th:with="result=${cart.value.quantity * cart.value.products.priceSale}"style="display: none">
                        <span class="total-price" th:attr="data-total=${result}" th:text="${result}" ></span>
                    </div>

                    <h4 class="cart-total-hedding normal"><span>Tổng :</span><span class="cart-total-price" id="total">$698.00</span></h4>
                    <!-- Cart Total -->

                    <!-- Cart Buttons -->
                    <div class="cart-action-buttons">
                        <a href="/gio-hang" class="view-cart btn btn-md btn-gray">Xem Giỏ Hàng</a>
                        <a href="/thanh-toan" class="checkout btn btn-md btn-color">Thanh Toán</a>
                    </div>
                    <!-- End Cart Buttons -->

                </div>
            </div>
            <!-- Cart Footer -->
        </div>
    </section>
    <!--Overlay-->
    <div class="sidebar_overlay"></div>
    <!-- Search Overlay Menu ----------------------------------------------------->
    <section class="search-overlay-menu">
        <!-- Close Icon -->
        <a href="javascript:void(0)" class="search-overlay-close"></a>
        <!-- End Close Icon -->
        <div class="container">
            <!-- Search Form -->
            <form role="search" id="searchform" action="/tim-kiem-san-pham" method="GET">
                <div class="search-icon-lg">
                    <img th:src="@{/client/img/search-icon-lg.png}" alt="" />
                </div>
                <label class="h6 normal search-input-label" for="search-query">Nhập Từ Khóa Để Tìm Kiếm Sản Phẩm</label>
                <input value="" name="q" type="search" id="search-query" placeholder="Nhập Từ Khóa..." />
                <button type="submit">
                    <img th:src="@{/client/img/search-lg-go-icon.png}" alt="" />
                </button>
            </form>
            <!-- End Search Form -->

        </div>
    </section>
    <!-- End Search Overlay Menu ------------------------------------------------>
    <div class="wraper">
        <header class="header">
        <!--Topbar-->
        <div class="header-topbar">
            <div class="header-topbar-inner">
                <!--Topbar Left-->
                <div class="topbar-left hidden-sm-down">
                    <div class="phone"><i class="fa fa-phone left" aria-hidden="true"></i>Điện Thoại Hỗ Trợ : <b>+84 868 608 169</b></div>
                </div>
                <!--End Topbar Left-->

                <!--Topbar Right-->
                <div class="topbar-right">
                    <ul class="list-none">
                        <li sec:authorize="!isFullyAuthenticated()">
                            <a href="/dang-nhap"><i class="fa fa-lock left" aria-hidden="true"></i><span class="hidden-sm-down">Đăng Nhập</span></a>
                        </li>
                        <li class="dropdown-nav" sec:authorize="isAuthenticated()">
                            <a href=""><i class="fa fa-user left" aria-hidden="true"></i><span class="hidden-sm-down">Tài Khoản</span><i class="fa fa-angle-down right" aria-hidden="true"></i></a>
                            <!--Dropdown-->
                            <div class="dropdown-menu" >
                                <ul>
                                    <li><a href="" th:text="${userInfo.fullName}">My Account</a></li>
                                    <li><a href="/lich-su-mua-hang">Lịch Sử Mua Hàng</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                </ul>
                                <span class="divider"></span>
                                <ul>
                                    <li><a href="/logout"><i class="fa fa-lock left" aria-hidden="true"></i>Đăng Xuất</a></li>
                                </ul>
                            </div>
                            <!--End Dropdown-->
                        </li>

                        <li>
                            <a href="/thong-tin">Thôn Tin</a>
                        </li>
                        <li>
                            <a href="/lien-he">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
                <!-- End Topbar Right -->
            </div>
        </div>
        <!--End Topbart-->

        <!-- Header Container -->
        <div id="header-sticky" class="header-main">
            <div class="header-main-inner">
                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img th:src="@{/client/img/logo_black.png}" alt="Philos" />
                    </a>
                </div>
                <!-- End Logo -->


                <!-- Right Sidebar Nav -->
                <div class="header-rightside-nav">
                    <!-- Sidebar Icon -->
                    <div class="sidebar-icon-nav">
                        <ul class="list-none-ib">
                            <!-- Search-->
                            <li><a id="search-overlay-menu-btn"><i aria-hidden="true" class="fa fa-search"></i></a></li>
                            <!-- Cart-->
                            <li><a id="sidebar_toggle_btn">
                                <div class="cart-icon">
                                    <i aria-hidden="true" class="fa fa-shopping-bag"></i>
                                </div>

                                <div class="cart-title">
                                    <span class="cart-count" id="cartQuantity">2</span>
                                    /
                                    <span class="cart-price strong" id="totalCartH">$698.00</span>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                    <!-- End Sidebar Icon -->
                </div>
                <!-- End Right Sidebar Nav -->


                <!-- Navigation Menu -->
                <nav class="navigation-menu">
                    <ul>
                        <li>
                            <a href="/">Trang Chủ</a>
                        </li>
                        <li>
                            <a href="/danh-sach-san-pham">Cửa Hàng</a>
                            <!-- Drodown Menu ------->
                            <ul class="nav-dropdown js-nav-dropdown">
                                <li class="container">
                                    <ul class="row">
                                        <!--Grid 1-->
                                        <li class="nav-dropdown-grid" th:each="p : ${listCate}">
                                            <h6 th:text="${p.categoryName}">New In</h6>
                                            <ul>
                                                <li th:each="pp : ${listCate}" th:if="${p.status == true && p.id == pp.parentId}" th:unless="${pp.parentId == 0}"><a th:href="'/danh-muc/'+${pp.url}" th:text="${pp.categoryName}"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End Drodown Menu -->
                        </li>
                        <li th:each="p : ${listCate}" th:if="${p.status == true && p.parentId == 0}">
                            <a th:href="'/danh-muc/'+${p.url}" th:text="${p.categoryName}"></a>
                            <!-- Drodown Menu ------->
                            <ul class="nav-dropdown js-nav-dropdown">
                                <li class="container">
                                    <ul class="row">
                                        <!--Grid 1-->
                                        <li class="nav-dropdown-grid" th:each="pp : ${listCate}" th:if="${pp.parentId == p.id}" th:unless="${p.id == pp.id}">
                                            <h6 th:text="${pp.categoryName}"></h6>
                                            <ul>
                                                <li th:each="ppp : ${listCate}" th:if="${pp.id = ppp.parentId}"><a th:href="'/danh-muc/'+${ppp.url}" th:text="${ppp.categoryName}"></a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <!-- End Drodown Menu -->
                        </li>
                        
                    </ul>
                </nav>
                <!-- End Navigation Menu -->

            </div>
        </div>
        <!-- End Header Container -->
    </header>
    </div>



</header>