<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Sản Phẩm</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Thêm Sản Phẩm Mới</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
                <div class="container-fluid">
                    <!-- left column -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Thêm Sản Phẩm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{them-san-pham}" method="POST" th:object="${insertProductModel}">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">Tên Sản Phẩm</label>
                                    <div class="col-sm-4">
                                        <input type="text" th:field="*{productName}" class="form-control " th:classappend="${#fields.hasErrors('productName')} ? is-invalid : ''" id="name"  placeholder="Nhập Tên Sản Phẩm">
                                        <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-2 col-form-label">Ảnh Đại Diện</label>
                                    <div class="col-sm-4">
                                        <input type="text" th:field="*{imageLink}" class="form-control " th:classappend="${#fields.hasErrors('imageLink')} ? is-invalid : ''" id="image" style="display: none"  placeholder="ảnh">
                                        <img id="show_image" th:src="@{/admin/dist/img/00001.png}" onclick="OpenPopupWindow('image', 'true', 'false')"  alt="..." class="img-thumbnail show_edit_images" style="width: 30%;">
                                        <div th:if="${#fields.hasErrors('imageLink')}" th:errors="*{imageLink}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Listimage" class="col-sm-2 col-form-label">Ảnh Chi Tiết</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{imageList}" class="form-control " th:classappend="${#fields.hasErrors('imageList')} ? is-invalid : ''" id="Listimage" style="display: none"  placeholder="ảnh">
                                        <div id="listImageShow">
                                            <img id="show_imageList" th:src="@{/admin/dist/img/00001.png}" onclick="OpenPopupWindow('Listimage', 'false', 'true')"  alt="..." class="img-thumbnail show_edit_images" style="width: 176px; height: 176px">
                                        </div>
                                        <div th:if="${#fields.hasErrors('imageList')}" th:errors="*{imageList}" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-2 col-form-label">Giá</label>
                                    <div class="col-sm-4">
                                        <input type="text" th:field="*{price}" class="form-control " th:classappend="${#fields.hasErrors('price')} ? is-invalid : ''" id="title"  placeholder="Nhập Tên Sản Phẩm">
                                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-2 col-form-label">Giá Khuyến Mại</label>
                                    <div class="col-sm-4">
                                        <input type="text" th:field="*{priceSale}" class="form-control " th:classappend="${#fields.hasErrors('priceSale')} ? is-invalid : ''" id="price"  placeholder="Nhập Tên Sản Phẩm">
                                        <div th:if="${#fields.hasErrors('priceSale')}" th:errors="*{priceSale}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-2 col-form-label">Số Lượng</label>
                                    <div class="col-sm-4">
                                        <input type="text" th:field="*{quantity}" class="form-control " th:classappend="${#fields.hasErrors('quantity')} ? is-invalid : ''" id="price"  placeholder="Nhập Tên Sản Phẩm">
                                        <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Trạng Thái SALE</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" th:classappend="${#fields.hasErrors('saleStatus')} ? is-invalid : ''" th:field="*{saleStatus}">
                                            <option value="1">Không SALE</option>
                                            <option value="2">BEST SALE</option>
                                            <option value="3">Sản Phẩm Mới</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('saleStatus')}" th:errors="*{saleStatus}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label  class="col-sm-2 col-form-label">Mô Tả</label>
                                    <div class="col-sm-10">
                                        <textarea class="textareas" placeholder="Place some text here" th:field="*{description}"></textarea>
                                    </div>
                                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group row" >
                                    <label class="col-sm-2 col-form-label">Chọn Danh Mục</label>
                                    <div class="col-sm-10 row" >
                                        <div class="col-sm-3 " th:each="cate : ${listCate}">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" th:classappend="${#fields.hasErrors('categories')} ? is-invalid : ''" th:field="*{categories}" type="checkbox" th:value="${cate.id}" th:id="'Checkbox' + ${cate.id}" >
                                                <label th:for="'Checkbox' + ${cate.id}" class="custom-control-label" th:text="${cate.categoryName}"></label>
                                                <div th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}" class="invalid-feedback"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div id="ShowAttr"></div>
                                <div class="form-group row" >
                                    <span class="col-sm-2"></span>
                                    <div class="col-sm-6">
                                        <input type="hidden" th:classappend="${#fields.hasErrors('productAttributes')} ? is-invalid : ''">
                                        <div th:if="${#fields.hasErrors('productAttributes')}" th:errors="*{productAttributes}" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" th:field="*{status}" id="status" value="true">
                                            <label class="custom-control-label" for="status">Hiện Thị</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-info">Lưu</button>
                                        <button type="reset" class="btn btn-default ">Làm Mới</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <input id="data" type="text" style="display: none" th:value="${listJson}" />
    </div>

</div>

<th:block layout:fragment="script">
    <script>
        $(function () {
            $('.textareas').summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]
            });
        })
        $(document).ready(function() {
            var data =  $('#data').val();
            var html = "";
            $.each(JSON.parse(data), function(i, item) {
                html += '<div class="form-group row"><label class="col-sm-2 col-form-label">'+item.Name+'';
                html+= '</label><div class="col-sm-10 row">';
                $.each(item.attribute, function (ii, it){
                    html += '<div class="col-sm-3"><div class="custom-control custom-checkbox">';
                    html += '<input class="custom-control-input" type="checkbox" name="productAttributes" id="checkB'+it.Id+'" value="'+it.Id+'">';
                    html += '<label for="checkB'+it.Id+'" class="custom-control-label">'+it.Name+'</label>';
                    html += '</div></div>';
                })
                html += '</div></div>';
            });
            $('#ShowAttr').html(html);
        })
    </script>
</th:block>
</body>
</html>