<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper-pro">
        <div class="content-inner-all">
            <div class="basic-form-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sparkline12-list shadow-reset mg-t-30">
                                <div class="sparkline12-hd">
                                    <div class="main-sparkline12-hd">
                                        <h1>Thêm Giá Trị Của Thuộc Tính</h1>
                                        <div class="sparkline12-outline-icon">
                                            <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline12-graph">
                                    <div class="basic-login-form-ad">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="all-form-element-inner">
                                                    <form class="needs-validation" th:action="@{them-san-pham}" method="POST" th:object="${insertProductModel}">
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('productName')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Tên Sản Phẩm</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('productName')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('productName')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập tên Thuộc tính" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{productName}" placeholder="Nhập Tên Thuộc Tính " />
                                                                    <span th:if="${#fields.hasErrors('productName')}" class="help-block" th:errors="*{productName}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('price')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Giá</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('price')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('description')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{price}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('price')}" class="help-block" th:errors="*{price}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('priceSale')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Giá</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('priceSale')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('priceSale')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{price}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('priceSale')}" class="help-block" th:errors="*{priceSale}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('imageList')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Giá Khuyến Mại</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('imageList')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('imageList')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{imageList}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('imageList')}" class="help-block" th:errors="*{imageList}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('quantity')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Số Lượng</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('quantity')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('quantity')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{quantity}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('quantity')}" class="help-block" th:errors="*{quantity}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('saleStatus')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Trạng Thái Sale</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('saleStatus')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('saleStatus')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{saleStatus}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('saleStatus')}" class="help-block" th:errors="*{saleStatus}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('imageLink')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Giá</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('imageLink')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('imageLink')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{imageLink}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('imageLink')}" class="help-block" th:errors="*{imageLink}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner" th:classappend="${#fields.hasErrors('description')} ? has-error : ''">
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label class="login2 pull-right pull-right-pro">Mô Tả</label>
                                                                </div>
                                                                <div class="col-lg-4" th:classappend="${#fields.hasErrors('description')} ? 'input-icon right' : ''">
                                                                    <i th:if="${#fields.hasErrors('description')}" class="fa fa-exclamation tooltips" data-original-title="Vui Lòng nhập Mô TảP" data-container="body" style="padding-right: 22px"></i>
                                                                    <input type="text" class="form-control" th:field="*{description}" placeholder="Nhập Mô Tả " />
                                                                    <span th:if="${#fields.hasErrors('description')}" class="help-block" th:errors="*{description}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-6 col-sm-8 col-xs-6">
                                                                    <label class="login2 pull-right pull-right-pro">Inline <span class="basic-ds-n">categories</span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-6 col-sm-4 col-xs-6">
                                                                    <div class="bt-df-checkbox pull-left">
                                                                        <label th:each="cate : ${listCate}">
                                                                            <input
                                                                                   th:text="${cate.categoryName}"
                                                                                   th:value="${cate.id}" class="pull-left radio-checked" th:field="*{categories}" type="checkbox">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-6 col-sm-8 col-xs-6">
                                                                    <label class="login2 pull-right pull-right-pro">Inline <span class="basic-ds-n">categories</span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-lg-9 col-md-6 col-sm-4 col-xs-6">
                                                                    <div class="bt-df-checkbox pull-left">
                                                                        <label th:each="attr : ${listAttr}">
                                                                            <input
                                                                                    th:text="${attr.name}"
                                                                                    th:value="${attr.id}" class="pull-left radio-checked" th:field="*{productAttributes}" type="checkbox">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="login-btn-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-3"></div>
                                                                    <div class="col-lg-9">
                                                                        <div class="login-horizental cancel-wp pull-left">
                                                                            <a class="btn btn-white" type="submit" th:href="@{danh-sach-thuoc-tinh}">Cancel</a>
                                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<th:block layout:fragment="script">-->
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $("#colorInput").on("change paste keyup", function() {-->
<!--                var color = ($(this).val());-->
<!--                $("#defaultValue").val(color);-->
<!--            });-->
<!--        })-->
<!--    </script>-->
<!--</th:block>-->
</body>
</html>