<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper">
        <!-- Page Content Wraper -->
        <div class="page-content-wraper">
            <!-- Bread Crumb -->
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a href="/">Trang Chủ</a>
                                <span>Thanh Toán</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bread Crumb -->

            <!-- Page Content -->
            <section class="content-page">
                <div class="container mb-80">
                    <div class="row">
                        <div class="col-sm-12">
                            <article class="post-8">
                                <form class="product-checkout mt-45" th:action="@{thanh-toan}" method="POST" th:object="${order}">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3>Thông Tin Thanh Toán</h3>
                                            <div class="row">
                                                <div class="form-field-wrapper form-center form-group col-sm-12">
                                                    <label for="billing_first_name" class="left">
                                                        Tên Người Nhận
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <input class="input-md form-full-width"th:field="*{fullName}" id="billing_first_name" title="First Name" value="" placeholder="Nhập Họ Của Bạn" type="text" required="" aria-required="true">
                                                </div>
                                                <div class="form-field-wrapper form-center form-group col-sm-12">
                                                    <label for="select_city" class="left">
                                                        Tỉnh / Thành Phố
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <select name="billing_country" th:field="*{addressCity}" id="select_city" class="input-md form-full-width" autocomplete="city" tabindex="-1" aria-hidden="true" required="" aria-required="true">
                                                        <option value="">Chọn Tỉnh Thành Phố</option>
                                                        <option th:each="city : ${listCity}" th:text="${city.name}" th:value="${city.name}" th:attr="data-id=${city.id}">Zimbabwe</option>
                                                    </select>
                                                </div>
                                                <div class="form-field-wrapper form-center form-group col-sm-12">
                                                    <label for="billing_District" class="left">
                                                        Quận / Huyện
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <select name="billing_country" th:field="*{addressDistrict}" id="billing_District" class="input-md form-full-width" tabindex="-1" aria-hidden="true"aria-required="true">
                                                        <option value="">Vui Lòng Chọn Tỉnh Thành Phố </option>
                                                    </select>
                                                </div>
                                                <div class="form-field-wrapper form-center form-group col-sm-12">
                                                    <label for="billing_Wards" class="left">
                                                        Xã / Phường
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <select name="billing_country" th:field="*{addressWard}" id="billing_Wards" class="input-md form-full-width" tabindex="-1" aria-hidden="true"aria-required="true">
                                                        <option value="">Vui Lòng Chọn Quận Huyện Thành Phố </option>
                                                    </select>
                                                </div>
                                                <div class="form-field-wrapper form-center col-sm-12">
                                                    <label for="address" class="left">
                                                        Địa Chỉ Nhận Hàng
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <textarea class="form-full-width" th:field="*{address}" title="State / County" placeholder="" type="text" required="" aria-required="true"></textarea>
                                                </div>
                                                <div class="form-field-wrapper form-center form-group col-sm-12">
                                                    <label for="billing_phone" class="left">
                                                        Số Điện Thoại
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <input class="input-md form-full-width" id="billing_phone" th:field="*{phone}" title="phone" value="" placeholder="0868.608.169" type="tel" required="" aria-required="true">
                                                </div>
                                                <div class="form-field-wrapper form-center col-sm-12">
                                                    <label for="billing_state_county" class="left">
                                                       Ghi Chú
                                                        <abbr class="form-required" title="required">*</abbr></label>
                                                    <textarea class="form-full-width" th:field="*{description}" title="State / County" placeholder="" type="text" required="" aria-required="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-order-review">
                                                <h3>Hóa Đơn Của Bạn</h3>
                                                <div class="product-checkout-review-order">
                                                    <div class="responsive-table">
                                                        <table class="">
                                                            <thead>
                                                            <tr>
                                                                <th class="product-name">Sản Phẩm</th>
                                                                <th class="product-total">Tổng Tiền</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="cart_item" th:each="cart : ${session.myCart}">
                                                                <td class="product-name" ><span th:text="${cart.value.products.productName}"></span>
                                                                    <p>
                                                                        <th:block th:each="attr  : ${cart.value.attribute}" th:text="' '+${attr.name}+','"></th:block>
                                                                        <strong th:text="' Số Lượng '+ ${cart.value.quantity}">  1</strong>
                                                                    </p>
                                                                    </td>
                                                                <td class="product-total" th:with="total=${cart.value.quantity * cart.value.products.priceSale}">
                                                                    <span class="product-price-amount amount" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            <tr class="cart-subtotal">
                                                                <th>Tổng</th>
                                                                <td>
                                                                    <strong><span class="product-price-amount amount" id="totalSub" th:text="${#numbers.formatDecimal(totalCart, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span></strong>
                                                                </td>
                                                            </tr>
                                                            <tr class="shipping">
                                                                <th>Phí ship</th>
                                                                <td><span class="product-price-amount amount" th:text="${#numbers.formatDecimal(priceShip, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span></td>
                                                            </tr>
                                                            <tr class="shipping">
                                                                <th>Giảm Giá</th>
                                                                <td><span class="product-price-amount amount" th:text="${#numbers.formatDecimal(totalDiscount, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span></td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>Thành Tiền</th>
                                                                <td><span class="product-price-amount amount" id="totalPrice" th:text="${#numbers.formatDecimal(totals  , 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span></td>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>

                                                    <div class="product-checkout-payment">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Chọn Phương Thức Thanh Toán</label>
                                                            <select class="form-control" th:field="*{paymentId}" id="payment_order">
                                                                <option th:each="pay : ${listPayment}" th:text="${pay.name}" th:id="'pay'+${pay.id}" th:value="${pay.id}" th:attr="data-des=${pay.description}"></option>
                                                            </select>
                                                        </div>
                                                        <ul id="paymentDescription">

                                                        </ul>
                                                        <div class="place-order">
                                                            <button class="btn btn-lg btn-color form-full-width" style="font-size: 30px;">Đặt Hàng</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>

            </section>
            <!-- End Page Content -->

        </div>
        <!-- End Page Content Wraper -->


    </div>
</div>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            $('body').on('change', '#payment_order', function (){
                $('#paymentDescription').text($(this).find(':selected').data('des'))
            })

            var token = $("meta[name='_csrf']").attr("content");
            $.ajaxSetup({
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', token);
                }
            });

            $('body').on('change', '#select_city',function (){
                var id = $(this).find(':selected').data('id')
                console.log(id)
                if (!!id){
                    $.ajax({
                        type: "GET",
                        url: "/api/getListDistrict?id="+id,
                        success: function (data, statusText, xhr) {
                            var html = '';
                            $.each(data, function (index, item){
                                html += '<option value="'+item.name+'" data-id="'+item.id+'">'+item.name+'</option>';
                            })
                            $('#billing_District').html(html)
                        }
                    })
                }else {
                    $('#billing_District').html('<option >chọn tỉnh thành phố</option>')
                    $('#billing_Wards').html('<option >chọn tỉnh thành phố</option>')
                }
            })
            $('body').on('change', '#billing_District', function (){
                console.log("ahihahi đổi rồi kìa")
                var idDistrict =  $(this).find(':selected').data('id')
                if (!!idDistrict){
                    $.ajax({
                        type: "GET",
                        url: "/api/getListWard?id="+idDistrict,
                        success: function (data, statusText, xhr) {
                            var html = '';
                            $.each(data, function (index, item){
                                html += '<option value="'+item.name+'" data-id="'+item.id+'">'+item.name+'</option>';
                            })
                            $('#billing_Wards').html(html)
                        }
                    })
                }

            })
        })
    </script>
</th:block>
</body>
</html>