<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper">
        <!-- Page Content Wraper -->
        <div class="page-content-wraper">
            <!-- Bread Crumb -->
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a href="">Trang Chủ</a>
                                <span>Thông Tin Liên Hệ</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bread Crumb -->

            <!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.3598506991984!2d105.78058361542351!3d21.05828509214432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2acf7bdd67%3A0x8a04b48d72be2652!2zMzY0IFBo4bqhbSBWxINuIMSQ4buTbmcsIEPhu5UgTmh14bq_LCBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1599820246996!5m2!1svi!2s" width="1110" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-xs-30">
                            <h2 class="normal"><span>Đó là cửa hàng của mình</span></h2>
                            <h6 class="mb-25">Các Bạn Nhớ Ủng Hộ Mình Nhé</h6>
                            <p class="mb-25">
                            364 Phạm Văn Đồng, Từ Liêm, Hà Nội, Việt Nams
                            </p>
                            <h6>Liên Hệ Với Mình</h6>
                            <ul class="Contact-information mb-25">
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>phucmnp@@gmail.com</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>0868608169</li>
                            </ul>
                            <hr />
                            <div class="product-share mtb-30">
                                <ul class="list-none">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="http://pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- End Page Content -->

        </div>
        <!-- End Page Content Wraper -->
    </div>

</div>
</body>
</html>