<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper">
        <!-- Page Content Wraper -->
        <div class="page-content-wraper">
            <!-- Bread Crumb -->
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a href="#">Home</a>
                                <span>Contact Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bread Crumb -->

            <!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map" class="map style1 mb-45"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-xs-30">
                            <h2 class="normal"><span>Stay In Touch</span></h2>
                            <p class="mb-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                            <h6>Company address</h6>
                            <p class="mb-25">
                                1 Wintergreen Dr. Huntley,
                                <br>
                                NY 11510,
                                <br>
                                United States
                            </p>
                            <h6>Contact Information</h6>
                            <ul class="Contact-information mb-25">
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>info@sky.com</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>(013) 456789</li>
                            </ul>
                            <hr />
                            <div class="product-share mtb-30">
                                <ul class="list-none">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="http://pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- End Page Content -->

        </div>
        <!-- End Page Content Wraper -->
    </div>

</div>
</body>
</html>