<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper">
    <!-- Page Content Wraper -->
    <div class="page-content-wraper">
        <!-- Bread Crumb -->
        <section class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumb-link">
                            <a href="/">Trang Chủ</a>
                            <span>Đăng Nhập & Đăng Ký</span>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bread Crumb -->

        <!-- Page Content -->
        <section class="content-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-border-box">
                            <form th:action="@{/dang-nhap-submit}" method="POST" autocomplete="false">
                                <h2 class="normal"><span>Đăng Nhập</span></h2>
                                <p>Đăng Nhập Để Mua Hàng Dễ Dàng Hơn</p>

                                <div class="form-field-wrapper">
                                    <label for="author-email">Email <span class="required">*</span></label>
                                    <input id="author-email" class="input-md form-full-width" autocomplete="false" autofocus name="email" placeholder="Nhập Email Đăng Nhập" size="30" aria-required="true" required="" type="email">
                                </div>
                                <div class="form-field-wrapper">
                                    <label for="author-pass">Mật Khẩu <span class="required">*</span></label>
                                    <input id="author-pass" autocomplete="false" class="input-md form-full-width" name="pass" placeholder="Nhập Mật Khẩu" value="" size="30" aria-required="true" required="" type="password">
                                </div>

                                <th:block th:if="${err != null}">
                                    <div  th:text="${err}" class="alert alert-danger" role="alert" >
                                        Lỗi Rồi đó ahihi
                                    </div>
                                </th:block>
                                <a class="mb-2" id="resertPassword">Quên Mật Khẩu</a>
                                <div class="form-field-wrapper">
                                    <input name="submit" id="submit" class="submit btn btn-md btn-black" value="Đăng Nhập" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-border-box">
                            <form th:action="@{/dang-ky}" method="POST" th:object="${insertUser}">
                                <h2 class="normal"><span>Đăng Ký Tài Khoản Mới</span></h2>
                                <p>Nếu chưa có tài khoản vui lòng đăng ký tài khoản ở đây</p>
                                <div class="form-field-wrapper">
                                    <label for="reg-email">Email <span class="required">*</span></label>
                                    <input id="reg-email" class="input-md form-full-width" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? is-invalid : ''" placeholder="Nhập Email" value="" size="30" aria-required="true" required="" type="email">
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <label for="reg-fullname">Họ Và Tên <span class="required">*</span></label>
                                    <input id="reg-fullname" class="input-md form-full-width" th:field="*{fullName}" placeholder="Nhập Họ Và Tên" value="" size="30" aria-required="true" required="" type="text">
                                    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <label for="datemask">Sinh Nhật <span class="required">*</span></label>
                                    <input class="input-md form-full-width" th:field="*{birthday}" aria-required="true" required="" type="text" data-inputmask-alias="datetime" id="datemask" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                    <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" style="color: red" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <label>Số Điện Thoại <span class="required">*</span></label>
                                    <input id="email" class="input-md form-full-width" th:field="*{phoneNumber}" placeholder="0868.608.169" value="" size="30" aria-required="true" required="" type="text">
                                    <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <label>Địa Chỉ <span class="required">*</span></label>
                                    <textarea class="input-md form-full-width" th:field="*{address}" style="height: 150px" cols="50" rows="20" required></textarea>
                                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <label>Mật Khẩu <span class="required">*</span></label>
                                    <input id="pass" class="input-md form-full-width" th:field="*{password}" autocomplete="" placeholder="Nhập Mật Khẩu" value="" size="30" aria-required="true" required="" type="password">
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <input name="submit" class="submit btn btn-md btn-black" value="Đăng Ký" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Content -->

    </div>
    <!-- End Page Content Wraper -->
</div>
</div>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            $('#datemask').inputmask('yyyy/mm/dd', { 'placeholder': 'yyyy/mm/dd' })
            //toastr.success("Xóa Sản Phẩm Trong Giỏ Hàng Thành Công")
            $('#resertPassword').click(function (){
                var email = $('author-email').val();
                if (!email){

                    toastr.error("Bạn Chưa Nhập Email")
                    $('author-email').focus();
                }else {
                    console.log("quên mật khẩu")
                }

            })

        })
    </script>
</th:block>
</body>
</html>
