<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">

    <div class="wraper">
        <!-- Page Content Wraper -->
        <div class="page-content-wraper">
            <!-- Bread Crumb -->
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a href="/">Trang Chủ</a>
                                <span>Lịch Sử Mua Hàng</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-page">
                <div class="container mb-80">
                    <div class="row">
                        <div class="col-sm-12">
                            <article class="post-8">
                                <form class="cart-form" action="#" method="post">
                                    <div class="cart-product-table-wrap responsive-table" id="tableListCart">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th class="product-name">Tên Đơn Hàng</th>
                                                <th class="product-subtotal">Tổng Tiền</th>
                                                <th class="product-ac">Ngày Tạo</th>
                                                <th class="product-view">Hành Động</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr th:each="order : ${listOrder}">
                                                <td class="product-name" th:text="'order-'+${order.id}"></td>
                                                <td class="product-subtotal" th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></td>
                                                <td class="product-ac" th:text=" ${#dates.format(order.createDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                                <td class="product-view">
                                                    <a th:href="'/chi-tiet-don-hang/'+${order.id}">Xem Chi Tiết</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>

                            </article>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>

</div>
</body>
</html>