<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper">
<!-- Page Content Wraper -->
    <div class="page-content-wraper">
    <!-- Bread Crumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="breadcrumb-link">
                        <a href="#">Home</a>
                        <a href="#">Categories</a>
                        <span>Men Polos & Tees</span>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Bread Crumb -->

    <!-- Page Content -->
    <section id="product-ID_XXXX" class="content-page single-product-content">
        <!-- Product -->
        <div id="product-detail" class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 product-content sidebar-position-right">
                    <div class="row">
                        <!-- Product Image -->
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                            <div class="product-page-image">
                                <!-- Slick Image Slider -->
                                <div class="product-image-slider product-image-gallery" id="product-image-gallery" data-pswp-uid="3">
                                    <div class="item" th:each="image : ${#strings.arraySplit(product.imageList, ',')}">
                                        <a class="product-gallery-item" th:href="'/'+${image}" data-size="" th:attr="data-med='/'+${image}" data-med-size="">
                                            <img th:src="'/'+${image}" alt="image 1" />
                                        </a>
                                    </div>
                                </div>
                                <!-- End Slick Image Slider -->

                                <a href="javascript:void(0)" id="zoom-images-button" class="zoom-images-button"><i class="fa fa-expand" aria-hidden="true"></i></a>


                            </div>

                            <!-- Slick Thumb Slider -->
                            <div class="product-image-slider-thumbnails">
                                <div class="item" th:each="image : ${#strings.arraySplit(product.imageList, ',')}">
                                    <img th:src="'/'+${image}" alt="image 1" />
                                </div>
                            </div>
                            <!-- End Slick Thumb Slider -->
                        </div>
                        <!-- End Product Image -->

                        <!-- Product Content -->
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                            <div class="product-page-content">
                                <h2 class="product-title" th:text="${product.productName}">LP - Black Solid Polo T-Shirt</h2>
                                <div class="product-rating">
                                    <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                        <span style="width: 60%"></span>
                                    </div>
                                    <div class="product-rating-count">( <span class="count">3</span> Đánh Giá )</div>
                                </div>
                                <div class="product-price">
                                    <del th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></del><span><span class="product-price-sign"></span><span class="product-price-text" th:text="${#numbers.formatDecimal(product.priceSale, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">399.00 </span></span>
                                </div>
                                <p class="product-description"></p>
                                <div class="row product-filters">
                                    <form class="col-md-12 filters-color" th:each="attr : ${attribute}">
                                        <label for="select-color" th:text="'Chọn '+${attr.name}">Select Color</label>
                                        <div th:class="${attr.id == 1} ? color-selector :  size-selector" id="checkAttr">
                                            <th:block th:each="att, key : ${attr.attributeList}">
                                                <div class="entry attrId"  th:if="${att.dataType == '1'}" th:classappend="${key.index == 0}? active : ''" th:attr="style='background: '+${att.defaultValue}, data-id=${att.id}" >&nbsp;</div>
                                                <div class="entry attrId" th:if="${att.dataType == '2'}" th:classappend="${key.index == 0}? active : ''" th:text="${att.name}" th:attr="data-id=${att.id}">S</div>
                                            </th:block>
                                        </div>
                                    </form>
                                </div>
                                <div class="single-variation-wrap">
                                    <div class="product-quantity">
                                        <span data-value="+" class="quantity-btn quantityPlus"></span>
                                        <input class="quantity input-lg" id="quantity" step="1" min="1" max="9" name="quantity" value="1" title="Quantity" type="number" />
                                        <span data-value="-" class="quantity-btn quantityMinus"></span>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-black" th:attr="data-proId=${product.id}" id="btn-submit-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Thêm Vào Giỏ Hàng</button>
                                </div>
                                <div class="single-add-to-wrap">
                                    <a class="single-add-to-wishlist"><i class="fa fa-heart left" aria-hidden="true"></i><span>Add to Wishlist</span></a>
                                    <a class="single-add-to-compare "><i class="fa fa-refresh left" aria-hidden="true"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-meta">
                                    <span>Mã : <span class="sku" itemprop="sku" th:text="${product.id}">005687</span></span>
                                    <span>Danh Mục :
                                        <th:block th:each="a : ${category}">
                                            <span class="category" itemprop="category"  th:text="${a.categoryName}+ ','">Shoes</span>
                                        </th:block>
                                    </span>
                                </div>
                                <div class="product-share">
                                    <span>Share :</span>
                                    <ul>
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://nileforest.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="http://twitter.com/share?url=http://nileforest.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="http://plus.google.com/share?url=http://nileforest.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="mailto:?subject=Check this http://nileforest.com/" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="../../../pinterest.com/pin/create/button/index68d2.html?url=http://nileforest.com/exampleImage.jpg" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 product-sidebar">
                    <div class="sidebar-widget-outline product-brand">
                        <a href="/danh-sach-san-pham" class="image-link">
                            <img src="/client/img/logo/07.png" alt="brand" /></a>
                        <a href="/danh-sach-san-pham" class="text-link">Xem Tất Cả Sản Phẩm</a>
                    </div>
                    <div class="sidebar-widget-outline product-list widget-product">
                        <h6 class="widget-title">Sản Phẩm Tương Tự</h6>

                        <ul class="widget-content">
                            <!--Item-->
                            <li th:each="pro : ${productRelated}">
                                <a class="product-img" th:href="'/san-pham/'+${pro.slug}">
                                    <img th:src="${pro.imageLink}" th:alt="${pro.productName}">
                                </a>
                                <div class="product-content">
                                    <a class="product-link" th:href="'/san-pham/'+${pro.slug}" th:text="${pro.productName}">Alpha Block Black Polo Sleem T-Shirt</a>
                                    <div class="star-rating">
                                        <span style="width: 80%;"></span>
                                    </div>
                                    <span class="product-amount" th:text="${#numbers.formatDecimal(pro.price, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">$399.00</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="sidebar-widget-outline product-banner-icon-text promo-box">
                        <div class="promo-item">
                            <div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                            <div class="info">
                                <a href="#">
                                    <h6 class="normal">Miễn Phí Ship</h6>
                                </a>
                                <p>Đơn Hàng Trên 1Tr</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Product -->

        <!-- Product Content Tab -->
        <div class="product-tabs-wrapper container">
            <ul class="product-content-tabs nav nav-tabs" role="tablist">

                <li class="nav-item">
                    <a class="active" href="#tab_description" role="tab" data-toggle="tab">Mô Tả</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#tab_reviews" role="tab" data-toggle="tab">Đánh Giá (<span>3</span>)</a>
                </li>

            </ul>
            <div class="product-content-Tabs_wraper tab-content container">
                <div id="tab_description" role="tabpanel" class="tab-pane fade in active">
                    <!-- Accordian Title -->
                    <h6 class="product-collapse-title" data-toggle="collapse" data-target="#tab_description-coll">Mô Tả</h6>
                    <!-- End Accordian Title -->
                    <!-- Accordian Content -->
                    <div id="tab_description-coll" class="shop_description product-collapse collapse container">
                        <div class="row">
                            <div class=" col-md-6" th:utext="${product.description}">
                            </div>
                        </div>
                    </div>
                    <!-- End Accordian Content -->
                </div>
                <div id="tab_reviews" role="tabpanel" class="tab-pane fade">
                    <!-- Accordian Title -->
                    <h6 class="product-collapse-title" data-toggle="collapse" data-target="#tab_reviews-coll">Đánh Giá</h6>
                    <!-- End Accordian Title -->
                    <!-- Accordian Content -->
                    <div id="tab_reviews-coll" class=" product-collapse collapse container">
                        <div class="row">
                            <div class="review-form-wrapper col-md-6">
                                <h6 class="review-title">Thêm 1 Đánh Giá </h6>
                                <th:block sec:authorize="!isFullyAuthenticated()">
                                    <span>Bạn Chưa Đăng Nhập ?</span>
                                    <a href="/dang-nhap" class="btn btn-lg btn-info">Đăng Nhập</a>
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()">
                                    <form class="comment-form">
                                        <div class="form-field-wrapper">
                                            <label>Sao Của Bạn Đánh Giá</label>
                                            <p class="stars">
                                                        <span id="box-star">
                                                            <a class="star-1" data-start="1">1</a>
                                                            <a class="star-2" data-start="2">2</a>
                                                            <a class="star-3" data-start="3">3</a>
                                                            <a class="star-4 " data-start="4">4</a>
                                                            <a class="star-5 active" data-start="5">5</a>
                                                        </span>
                                            </p>
                                        </div>
                                        <div class="form-field-wrapper">
                                            <label>Đánh Giá Của Bạn <span class="required">*</span></label>
                                            <textarea id="comment" class="form-full-width" name="comment" cols="45" rows="8" aria-required="true" required=""></textarea>
                                        </div>
                                        <div class="form-field-wrapper">
                                            <button  id="submit" class="submit btn btn-md btn-color" th:attr="data-proId=${product.id}" type="button">Đánh Giá</button>
                                        </div>
                                    </form>
                                </th:block>
                            </div>
                            <div class="comments col-md-6">
                                <h6 class="review-title">Đánh Giá Của Người Dùng</h6>
                                <!--<p class="review-blank">There are no reviews yet.</p>-->
                                <ul class="commentlist" id="commentList">
                                    <li id="comment-101" class="comment-101" th:each="rat : ${rating}">
                                        <img src="/client/img/avatar.jpg" class="avatar" alt="author" />
                                        <div class="comment-text">
                                            <div class="star-rating" itemprop="reviewRating" itemscope="" title="Rated 4 out of 5">
                                                <th:block th:if="${rat.starRating == 5}">
                                                    <span style="width: 100%"></span>
                                                </th:block>
                                                <th:block th:if="${rat.starRating == 4}">
                                                    <span style="width: 80%"></span>
                                                </th:block>
                                                <th:block th:if="${rat.starRating == 3}">
                                                    <span style="width: 60%"></span>
                                                </th:block>
                                                <th:block th:if="${rat.starRating == 2}">
                                                    <span style="width: 40%"></span>
                                                </th:block>
                                                <th:block th:if="${rat.starRating == 1}">
                                                    <span style="width: 20%"></span>
                                                </th:block>

                                            </div>
                                            <p class="meta">
                                                <strong itemprop="author" th:text="${rat.nameUser}">James Koster</strong>
                                                &nbsp;&mdash;&nbsp;
                                                <time itemprop="datePublished" datetime="" th:text="${rat.createAt}">April 25, 2016</time>
                                            </p>
                                            <div class="description" itemprop="description">
                                                <p th:text="${rat.comment}">Wow Amazing!</p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Accordian Content -->
                </div>
            </div>
        </div>
        <!-- End Product Content Tab -->

        <!-- Product Carousel -->
        <div class="container product-carousel">
            <h2 class="page-title">Sản Phẩm Tương Tự</h2>
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                <div class="product-item" th:each="pro : ${productRs}">
                    <div class="product-item-inner">
                        <div class="product-img-wrap">
                            <img th:src="${pro.imageLink}" alt="">
                        </div>
                        <div class="product-button">
                            <a href="#" class="js_tooltip addToCart" th:attr="data-id=${pro.id}" data-mode="top" data-tip="Thêm Vào Giỏ Hàng"><i class="fa fa-shopping-bag"></i></a>
                            <a href="#" class="js_tooltip" data-mode="top" data-tip="Yêu Thích"><i class="fa fa-heart"></i></a>
                            <a href="#" class="js_tooltip" data-mode="top" data-tip="Xem"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">Men Fashion</a>
                        <p class="product-title"><a th:href="'san-pham'+ ${pro.productName}">United Colors of Benetton</a></p>
                        <div class="product-rating">
                            <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                <span style="width: 60%"></span>
                            </div>
                            <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                        </div>
                        <p class="product-description">
                           </p>
                        <h5 class="item-price" th:text="${#numbers.formatDecimal(pro.price, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">$39.00</h5>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Product Carousel -->

    </section>
    <!-- End Page Content -->

</div>
</div>
</div>
<th:block layout:fragment="script">
    <script>
        $("body").on("click", "#btn-submit-cart", function (){
            var proId = $(this).data("proid");
            console.log("pro id ", proId)
            var quantity = $("#quantity").val();
            console.log("quantiry", quantity)
            var array = [];
            $("#checkAttr .active").each(function() {
                array.push($(this).data("id"));
            });
            console.log(array)
            addToCartA(proId, array, quantity);
        })
        function addToCartA(proId, attr, quantity){
            $.ajax({
                type: "GET",
                url: "/api/addCart/?proId="+proId+"&attr="+attr+"&quantity="+quantity,
                success: function (data) {
                    var html = '';
                    var html = '';
                    var totalPrice = 0;
                    var quantityCart = 0;
                    for (var key in data){
                        var keys = Object.keys(data)[key];
                        var value = data[key];
                        var priceTotal = formatNumber(value.products.priceSale, '.', ',') + ' VNĐ';
                        html += ' <li class="checkRemove" id="'+key+'"><a th:href="/san-pham/'+value.products.slug+'"class="product-image"><img src="'+value.products.imageLink+'" alt="'+value.products.productName+'" /></a><div class="product-content"><!-- Item Linkcollateral --><a class="product-link" href="/san-pham/'+value.products.slug+'">'+value.products.productName+'</a><div class="cart-collateral"><span class="qty-cart">'+value.quantity+'</span>&nbsp;<span>&#215;</span>&nbsp;<span class="product-price-amount" >'+priceTotal+'</span></div><a class="product-remove" href="javascript:void(0)" data-key="'+key+'" id="remove-cart"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div></li>';
                        totalPrice += value.quantity * value.products.priceSale;
                        quantityCart ++;
                    }
                    $("#listItemCart").html(html);
                    $("#total").text(formatNumber(totalPrice, '.', ',') + ' VNĐ')
                    $("#cartQuantity").text(quantityCart)
                    $("#totalCartH").text(formatNumber(totalPrice, '.', ',')+ ' VNĐ')
                }
            })
        }

        function addReview(star, proId, txt){
            $.ajax({
                type: "GET",
                url: "/api/addReview/?proId=" + proId + "&start=" + star + "&comment=" + txt,
                success: function (data) {
                    $('#comment').val('');
                    var html = ''
                    $.each(data, function (index, item){
                        html += '<li id="comment-'+item.id+'" class="comment-'+item.id+'"><img src="/client/img/avatar.jpg" class="avatar" alt="author" />';
                        html += '<div class="comment-text"><div class="star-rating" itemprop="reviewRating" itemscope="" title="Rated 4 out of 5">';
                        if (item.starRating == 5){
                            html += '<span style="width: 100%"></span>';
                        }if (item.starRating == 4){
                            html += '<span style="width: 80%"></span>';
                        }if (item.starRating == 3){
                            html += '<span style="width: 60%"></span>';
                        }if (item.starRating == 2){
                            html += '<span style="width: 40%"></span>';
                        }if (item.starRating == 1){
                            html += '<span style="width: 20%"></span>';
                        }
                        html += '</div><p class="meta"> <strong itemprop="author">'+item.nameUser+'&nbsp;&mdash;&nbsp;</strong>';
                        html += '<time itemprop="datePublished" datetime="">'+item.createAt+'</time>';
                        html += '</p><div class="description" itemprop="description"><p>'+item.comment+'</p></div> </div> </li>'

                    })
                    $('#commentList').html(html);
                    console.log(html)
                }
            })
        }
        $('#box-star a').click(function (){
            $('#box-star a.active').removeClass('active');
            $(this).addClass('active')
        })
        $('#submit').click(function (){
            var star = $('#box-star a.active').data('start');
            var comment = $('#comment').val();
            var proId = $(this).data("proid");
            if (!!star && !!comment && !!proId) {
                addReview(star, proId,comment)
            }else {
                toastr.error("Bạn Chưa Nhập Đánh Giá Của Mình");
                $('#comment').focus();
            }

        })
    </script>
</th:block>
</body>
</html>