<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wraper">
        <!-- Page Content Wraper -->
        <div class="page-content-wraper">
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a href="/">Trang Chủ</a>
                                <span>Lấy Lại Mật Khẩu</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-border-box">
                                <form th:action="@{/reset-pass-submit}" method="POST" autocomplete="false" th:object="${resetPassword}">
                                    <h2 class="normal"><span>Khôi Phục Mật Khẩu</span></h2>
                                    <p>Khôi Phục Mật Khẩu</p>
                                    <input type="hidden" th:field="${token}">
                                    <div class="form-field-wrapper">
                                        <label for="author-pass">Mật Khẩu Mới<span class="required">*</span></label>
                                        <input id="author-pass" autocomplete="false" class="input-md form-full-width" th:field="${passNew}" placeholder="Nhập Mật Khẩu" value="" size="30" aria-required="true" required="" type="password">
                                        <div th:if="${#fields.hasErrors('passNew')}" th:errors="*{passNew}" style="color: red" class="invalid-feedback">
                                        </div>
                                    </div>
                                    <th:block th:if="${err != null}">
                                        <div  th:text="${err}" class="alert alert-danger" role="alert" >
                                            Lỗi Rồi đó ahihi
                                        </div>
                                    </th:block>
                                    <a class="mb-2" id="resertPassword">Quên Mật Khẩu</a>
                                    <div class="form-field-wrapper">
                                        <input name="submit" id="submit" class="submit btn btn-md btn-black" value="Đăng Nhập" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </div>
</div>

</body>
</html>