<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Blog</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Quản Trị</a></li>
                                <li class="breadcrumb-item active">Đơn Hàng</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Danh Sách Đơn Hàng</h3>
                                    <a class="btn btn-primary float-right">Chọn Kiểu Lọc</a>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th >ID</th>
                                            <th >Tên Khách Hàng</th>
                                            <th >Kiểu Thanh Toán</th>
                                            <th >Số Điện Thoại</th>
                                            <th >Địa Chỉ</th>
                                            <th >Ngày Đặt Hàng</th>
                                            <th>Trạng Thái</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="d : ${listOrder}">
                                            <td th:text="${d.id}"></td>
                                            <td th:text="${d.userName}"></td>
                                            <td th:text="${d.paymentName}"></td>
                                            <td th:text="${d.phone}"></td>
                                            <td th:text="${d.address}"></td>
                                            <td th:text="${#dates.format(d.createDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                            <td>
                                                <th:block th:if="${d.status == 1}">Chờ Duyệt</th:block>
                                                <th:block th:if="${d.status == 2}">Duyệt</th:block>
                                                <th:block th:if="${d.status == 3}">Đang Giao Hàng</th:block>
                                                <th:block th:if="${d.status == 4}">Hoàn Thành</th:block>
                                                <th:block th:if="${d.status == 0}">Hủy</th:block>
                                            </td>
                                            <td>
                                                <a th:href="@{/quan-tri/don-hang/chi-tiet(id = ${d.id})}" class="btn btn-primary ">Chi Tiết</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th >ID</th>
                                            <th >Tên Khách Hàng</th>
                                            <th >Kiểu Thanh Toán</th>
                                            <th >Số Điện Thoại</th>
                                            <th >Địa Chỉ</th>
                                            <th >Ngày Đặt Hàng</th>
                                            <th>Trạng Thái</th>
                                            <th>Action</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
                order: [ 5, "desc" ]
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</th:block>
</body>
</html>