<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/main_layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Đây Là Trang Quản Lý</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content-header">
            </section>
            <div class="content "></div>
            <div class="container-fluid ">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>
                                    Tên Người Mua
                                </dt>

                                <dd th:text="${order.userName}">
                                    Mai Nhân Phúc
                                </dd>
                                <dt>
                                    Số điện thoại
                                </dt>

                                <dd th:text="${order.phone}">
                                    Số Điện thoại của phúc
                                </dd>

                                <dt>
                                    Địa chỉ nhận hàng
                                </dt>

                                <dd th:text="${order.address}">
                                    Địa chỉ nhà phúc
                                </dd>

                                <dt>
                                    Ngày tạo
                                </dt>

                                <dd th:text="${#dates.format(order.createDate, 'dd-MM-yyyy HH:mm:ss')}">
                                    phúc tạo ra đấy
                                </dd>

                                <dt>
                                    Trạng thái đơn hàng
                                </dt>

                                <dd>
                                    <th:block th:if="${order.status == 1}">
                                        <span class="label label-warning">Đang chờ duyệt</span>
                                        <div class="mt-20">
                                            <a th:href="@{/quan-tri/don-hang/update(id = ${order.id}, status = 2)}" class="btn btn-primary">Duyệt</a>
                                            <a th:href="@{/quan-tri/don-hang/update(id = ${order.id}, status = 0)}" class="btn btn-danger">Hủy</a>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${order.status == 2}">
                                        <span class="label label-warning"> Đã Duyệt</span>
                                        <div class="mt-20">
                                            <a th:href="@{/quan-tri/don-hang/update(id=${order.id}, status = 3)}" class="btn btn-primary">Đang Giao Hàng</a>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${order.status == 3}">
                                        <span class="label label-warning"> Đang Giao Hàng</span>
                                        <div class="mt-20">
                                            <a th:href="@{/quan-tri/don-hang/update(id = ${order.id}, status = 4)}" class="btn btn-primary">Xong</a>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${order.status == 0}">
                                        <span class="label label-danger"> Đơn Hàng Này Đã Bị Hủy</span>
                                    </th:block>
                                </dd>

                            </dl>
                        </div>
                        <div class="col-md-8">
                            <h3>Chi tiết đơn hàng</h3>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thực trả</th>

                                </tr>
                                <tr th:each="item : ${orderDetail}">
                                    <td>
                                        <span th:text="${item.products.productName}"></span>
                                        <br>
                                        <th:block th:each="attr : ${item.attributes}">
                                            <span th:text="${attr.name}+', '"></span>
                                        </th:block>
                                    </td>
                                    <td th:text="${item.orderDetail.total}">15</td>
                                    <td th:text="${#numbers.formatDecimal(item.products.priceSale * item.orderDetail.total, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">178,144 VNĐ</td>
                                    <td th:text="${#numbers.formatDecimal(item.orderDetail.price, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">160.000 VNĐ</td>

                                </tr>
                                <tr>
                                    <th colspan="3">Tổng tiền</th>
                                    <th th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">142.000 VNĐ</th>
                                </tr>

                                <tr>
                                    <th colspan="3">Tổng Tiền Phải Trả</th>
                                    <th th:text="${#numbers.formatDecimal(totalOrder, 0, 'COMMA', 0, 'POINT')}+' VNĐ'">142.000 VNĐ</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>