<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrapper">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Danh Mục</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Quản Trị</a></li>
                                <li class="breadcrumb-item active">Sửa Danh Mục</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <section class="content">
                <div class="container-fluid">
                    <!-- left column -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sửa Danh Mục</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{sua-danh-muc}" method="POST" th:object="${categories}">
                            <input type="hidden" th:field="*{id}">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tên Danh Mục</label>
                                    <div class="col-sm-4">
                                        <input type="text" th:field="*{categoryName}" class="form-control " th:classappend="${#fields.hasErrors('categoryName')} ? is-invalid : ''" id="inputEmail3" placeholder="Nhập Tên Danh Mục">
                                        <div th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="invalid-feedback">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Menu Cấp</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" th:field="*{parentId}">
                                            <option value="0">Đây là Menu Cấp Cao Nhất</option>
                                            <option th:each="c : ${listCate}" th:value="${c.id}" th:text="${c.categoryName}"/>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" th:field="*{status}" id="status" value="true">
                                            <label class="form-check-label" for="status">Hiện Thị</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-info">Lưu</button>
                                        <button type="reset" class="btn btn-default ">Làm Mới</button>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer">

                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

</body>
</html>